/* @import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
}
.navbar-list-container {
  height: 100%;
}
.navbar-list {
  font-family: "Actor", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  height: 100%;
}
.navbar-list-item {
  margin-right: 50px;
}
.logo-container img {
  width: 170.25px;
  height: 70px;
  padding-top: 10px;
}
.navbar-list-item a {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.05em;
}
.fa-angle-down {
  margin-left: 15px;
  color: #560f20;
}
.navbar-button-container button {
  font-family: "Actor", sans-serif;
  width: 150px;
  height: 50px;
  background-color: #ffb2b8;
  border: none;
  color: #6e3e41;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
.responsive-navbar {
  display: none;
}

@media screen and (max-width: 376px) {
  .navbar {
    height: 50px;
    width: 100%;
    background-color: #ea6872;
  }
  .logo-container img {
    width: 74px;
    height: 24.2px;
    padding-top: 10px;
    margin-left: 30px;
  }
  .navbar-button-container button {
    width: 80px;
    height: 30px;
    font-size: 15px;
  }
  .responsive-navbar {
    height: 100px;
    display: none;
    width: 100%;
    background-color: #ea6872;
  }
  .navbar-list-responsive {
    font-family: "Actor", sans-serif;
    height: 100%;
    color: white;
    list-style: none;
    margin-bottom: 10px;
    padding: 10px 25px;
  }
  .display {
    display: block;
  }
  .navbar-list-item-responsive {
    color: white;
  }
  .navbar-list-item-responsive a {
    color: white;
  }
  .fa-angle-down {
    margin-left: 10px;
    color: #ffffff;
  }
} */
